<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BDD_PROD_SDE" value="C:\Users\mmi\Documents\ArcGIS\Projects\20042_OCSIN\20042_semo.sde" />
    <add key="BDD_TEMPORELLE_SDE" value="C:\Users\mmi\Documents\ArcGIS\Projects\20042_OCSIN\20042_semohisto.sde" />
  </appSettings>
</configuration>